//variables
$black: #000;
$white: #fff;
$red: #aa0607;
$fsize: 15px;
$gray: #a5a2a2;
// $primary:#522B7A;
// $secondary:#9E459A;
$primary: #3a6db0;
$lightpink: #ecf5ff;
$shadowcolor: #d8eaff;
$green: #009e1a;
$darkgray: #5b5b5b;
$lightblue: #d7e7f6;
$lightprimary: #faf5ff;

//devices breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1600px;
