/* Hi there */

.table th:first-child,
.table td:first-child {
  position: sticky;
  left: 0;
  /*background-color: #ad6c80;*/
  color: #373737;
}

.today{
    background-color: darkseagreen !important;
}
